<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pratama.baseandroid.splash">

    <application>
        <activity android:name=".ui.SplashActivity"></activity>

        <provider
            android:name=".RouteProvider"
            android:authorities="${applicationId}.splash.RouteProvider" />
    </application>


</manifest>